<!DOCTYPE html>
<html>
<head>
    <title>Admin Reporting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-3.1.1-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css"/>

    <style>
        .tableOdd {
            background-color: green;
        }
        .tableEven {
            background-color: gold;
        }
    </style>
</head>
<body data-ng-app="reportingApp">
<!-- Header Section -->
 <h1><img src="images/logoDOS_CA.jpg" alt="Smiley face" width="75" height="75">Time Managment Application</h1>
  <div class="TMAHome">
    <nav id="navbar-TMA" class="navbar navbar-default navbar-static" role="navigation">
      <div class="container-fluid">        
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          <a class="navbar-brand" href="Home.HTM"><i class="icon-home icon-white"></i>Home</a>
          <a class="navbar-brand" href="TimeEntry.HTM">Time Entry</a>
          <a class="navbar-brand" href="UserProfile.HTM">User Profile</a>
          <a class="navbar-brand" href="Reporting.HTM">Reporting</a>
          <a class="navbar-brand" href="Admin.HTM">Administrator</a>
        </div>
          <ul class="nav navbar-nav navbar-right">              
            <a class="navbar-brand" href="SignIn.HTM">Log off</a>
          </ul>
        </div><!-- /.nav-close -->
      </div><!-- /.container-fluid -->
    </nav> <!-- /navbar-TMA -->
  </div> <!-- /TMAHome -->
<h3>Admin Report</h3>
<div id="adminReport"  data-ng-controller="repoCtrl" >

     Date:<input type="date" data-ng-model="dataTxdate"/>

    &nbsp;Employee supervisor:
    <select data-ng-model="dataSupLastName">
        <option value="">All</option>
        <option value="Gellar">Sarah Gellar</option>
        <option value="Bossman">Big Bossman</option>
        <option value="Patton">George S. Patton</option>
        
    </select>


 &nbsp;User:
    <select data-ng-model="dataLastName">
        <option value="">All</option>
        <option value="Weinrib">Geddy Weinrib</option>
        <option value="Hancock">Johnny Hancock</option>
        <option value="Gellar">Sarah Gellar</option>       
        <option value="Bossman">Big Bossman</option>
        <option value="Mouse">Mickey Mouse</option>
        <option value="Peart">Neil Peart</option>
        <option value="Lifeson">Alex Lifeson</option>
        <option value="Patton">George S. Patton</option>
        <option value="Rotten">Johnny Rotten</option>
    </select>

 &nbsp;Mission:
    <select data-ng-model="dataBureau">
        <option value="">All</option>
        <option value="CA">CA</option>
        <option value="WHA">WHA</option>
        <option value="EAP">EAP</option>
     </select>


 &nbsp;Country:
    <select data-ng-model="dataCountry">
        <option value="">All</option>
        <option value="USA">USA</option>
        <option value="China">China</option>

    </select>
 &nbsp;Post:
    <select data-ng-model="dataPost">
        <option value="">All</option>
        <option value="DC">DC</option>
        <option value="Beijing">Beijing</option>
        <option value="Shanghai">Shanghai</option>
    </select>
    
   &nbsp;Order:
        <select data-ng-model="dataOrder">
            <option value="txdate" selected>date (ascending)</option>
            <option value="-txdate">date (descending)</option>
            
        </select>
    
    

     <table id="report12" class="table table-striped table-bordered table-hover table-condensed">
<thead>
  <tr>
    <th>TX Date</th><th>User</th><th>ID</th><th>Hours</th><th>Comment</th><th>Mission</th>
    <th>Country</th><th>Post</th>
  </tr>        
</thead>

<tbody>
        <tr data-ng-repeat="data in periodic | filter:{txdate:dataTxdate} | filter:{bureau:dataBureau} | filter:{country:dataCountry} | filter:{post:dataPost}| filter:{supLastName:dataSupLastName} | filter:{lastName:dataLastName} | orderBy:dataOrder">
            
            <td><span>{{data.txdate}}</span></td>
            <td><span>{{data.lastName}}</span></td>
            <td><span>{{data.posNum}}</span></td>
            <td><span>{{data.hours}}</span></td>
            <td><span>{{data.comment}}</span></td>
            <td><span>{{data.bureau}}</span></td>
            <td><span>{{data.country}}</span></td>
            <td><span>{{data.post}}</span></td>
            
        </tr>

</tbody>
    </table>



</div>

<div class="csvHolder">
    <div id="csv"></div>
</div>

<script type="text/javascript" src="Script/angular.min.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Script/bootstrap.min.js"></script>

<script type="text/javascript" src="Script/reportingApp.js"></script>

<script type="text/javascript" src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>



<button onclick="makeCSV()">Download</button>
<div id="downloadLink"></div>
<script  type="text/javascript" >

function makeCSV() {

    var csv = "";
    $("#report12").find("tr").each(function () {
        var sep = "";
        $(this).find("span").each(function () {
            csv += sep + $(this).html();
            sep = ",";
        });
        csv += "\n";
    });
	
//    $("#csv").text(csv);

     window.URL = window.URL || window.webkiURL;
    var blob = new Blob([csv]);
    var blobURL = window.URL.createObjectURL(blob);
    $("#downloadLink").html("");
    $("<a style='display:none;' id='downloadnow'></a>").
    attr("href", blobURL).
    attr("download", "data.csv").
    text("Download Data").
    appendTo('#downloadLink');
$('#downloadnow')[0].click();

}
</script>

</body>

</html>